@import url('./__description/card__description.css');
@import url('./__image/card__image.css');
@import url('./__like-button/card__like-button.css');
@import url('./__like-button/_is-active/card__like-button_is-active.css');
@import url('./__delete-button/card__delete-button.css');
@import url('./__title/card__title.css');

.card {
  font-family: 'Inter', Arial, sans-serif;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
}

.card-animate-add {
  animation: card-fade-in 1s ease-out;
}

@keyframes card-fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Слегка поднимаем карточку */
  }
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.card-animate-remove {
  animation: card-fade-out 1s ease-in;
  pointer-events: none;
}

@keyframes card-fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px); /* Слегка опускаем карточку */
  }
}
